h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: .5em;
    width: 20%;
}

h4,h5,h6,h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(80, 80, 80);
    margin: 50%,10%;
    width: fit-content;
}

#summary{
    width: 65.5%; 
    background-color: rgb(241, 250, 246); 
    padding: 2rem; 
    position: relative; 
    float: right;
    bottom: 25rem; 
    padding-top: 10rem; 
    padding-bottom: 8.5rem;
}

#skills{
    background-color: rgb(241, 250, 246);
    width: 29.7%;
    height: 80rem;
}

#mainBody{
    background-color: white;

}